<nav>
  <% if (user) { %>
    <a href="/">Home</a>
    <a href="/auth/sign-out">Sign Out</a>
    <a href="/foods">Foods</a>
  <% } else { %>
    <a href="/">Home</a>
    <a href="/auth/register">Register</a>
    <a href="/auth/login">Log In</a>
  <% } %>
</nav>
